<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="centrado" style="height:700px; width:600px; margin:40px">
		<form>
			<b>CIUDADANO <br>
			NOTARIO <input type="text" id="notario" name="notario" value="PÚBLICO SEGUNDO DE VALERA ESTADO TRUJILLO"><br>
			SU DESPACHO.-</b> <br>
			<br>
			<input type="radio" id="male" name="gender" value="male">
			<label for="male">Male</label><br>
			<input type="radio" id="female" name="gender" value="female">
			<label for="female">Female</label><br>
			<br><br>
			Yo, <b><input type="text" id="nombre" name="nombre" value="Miguel Hernández Ríos"></b>, de nacionalidad venezolana, mayor de edad, civilmente hábil,
			de este domicilio, soltero y titular de la cédula de identidad <b><input type="text" id="cedula" name="cedula" value="V-4456334"></b> por ante su
			competente autoridad con motivo al matrimonio civil que he decidido contraer, a objeto de
			solicitarle se sirva interrogar a los testigos que oportunamente presentaré, sobre los siguientes
			particulares: <b>PRIMERO</b>: Si me conocen suficientemente de vista, trato y comunicación
			desde hace varios años. <b>SEGUNDO</b>: Si por ese conocimiento que de mí tienen, saben y les
			consta que nací en Caracas, el día <input type="number" id="dia" name="dia" min="1" max="31" value="12"> de 
			<input type="text" id="mes" name="mes" value="noviembre"> de <input type="number" id="ano" name="ano" value="1980"> , y que soy hijo 
			de <b><input type="text" id="nombre_papa" name="nombre_papa" value="Felipe Hernández"></b> y de 
			<b><input type="text" id="nombre_mama" name="nombre_mama" value="María Ríos"></b>. <b>TERCERO</b>: Si por el conocimiento 
			que de mí tienen, saben y les consta que soy soltero y no tengo impedimento alguno para contraer matrimonio. Por
			último, solicito que una vez evacuadas las presentes actuaciones se sirva devolvérmelas en
			original con sus resultas. Es Justicia que espero a la fecha de su presentación.
			<br>
			<br>
			Los testigos contestaron afirmativamente a las anteriores preguntas y en consecuencia
			estampan sus firmas a continuación.
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<table>
				<tr>
					<th><b><input type="text" id="nombre_testigo_1" name="nombre_testigo_1" value="Mariana A. Rodríguez Nieves "></b></th>
					<th><b><input type="text" id="nombre_testigo_2" name="nombre_testigo_2" value="V-27794941"></b></th>
				</tr>
				<tr>
					<td><b><input type="text" id="cedula_testigo_1" name="cedula_testigo_1" value="Susana M. Jiménez Cedeño"></b></td>
					<td><b><input type="text" id="cedula_testigo_2" name="cedula_testigo_2" value="V-6525703"></b></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
