<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .header-img{
            background-image: url("https://img2.goodfon.com/wallpaper/nbig/8/91/party-smoke-electronica.jpg");
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-size: 100%;
            height: 20rem;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand text-primary" href="index.html">
            <span class="h2">
                Arma Tu Fiesta
            </span>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="xv-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    XV's
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="boda-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Boda
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="fiestas-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Otras fiestas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sobre nosotros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <button class="btn btn-secondary mx-2">Arma Tu Fiesta</button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<br>
<br>
<br>
<br>

<ul class="navbar-nav mr-auto">
    <li>
        <a>
            Tips
        </a>
    </li>
    <li>
        <a>
            Bailes especiales
        </a>
    </li>
    <li>
        <a>
            Temas únicos
        </a>
    </li>
    <li>
        <a>
            Vestidos
        </a>
    </li>
    <li>
        <a>
            Accesorios
        </a>
    </li>
</ul>

<div class="row header-img">

</div>

<br>

<div class="col-12 align-self-center">
    <p class="display-6 text-dark bg-white text-justify ml-3 mr-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae porta arcu. Quisque tempor dictum mattis. Phasellus pretium dui a mauris ultrices mollis egestas sed ex. Aenean non orci placerat, euismod metus congue, ultrices diam. Nam aliquam lorem sit amet nisi ultricies, sit amet cursus dui sodales. Ut at ante arcu. Curabitur imperdiet accumsan ante quis vehicula. Praesent nibh diam, venenatis quis commodo ut, sagittis ut libero. Etiam hendrerit neque justo, eget mattis ante pellentesque ut. Proin vulputate aliquam iaculis. Etiam luctus arcu tellus, id convallis risus convallis in. Phasellus at rhoncus tortor. Nulla facilisi. Suspendisse tempor, leo sed sodales pharetra, tellus augue euismod sapien, vitae placerat velit mauris eu ipsum. Duis ut mauris eu enim gravida eleifend. Maecenas consectetur eros et mi accumsan, et eleifend enim aliquet.

        Quisque placerat nunc gravida eros euismod posuere. Nulla tempus sapien ex, vel dapibus quam pellentesque quis. Nulla facilisi. Quisque pretium condimentum nibh sollicitudin convallis. Morbi non tristique lectus. Nunc ut lectus ut velit vehicula auctor id vel est. Nam maximus lobortis massa, sed ullamcorper purus elementum vitae. Vestibulum nec eros elit.
        </p>
    <p class="display-6 text-dark bg-white text-justify ml-3 mr-3">
        Maecenas ac ligula non ante condimentum bibendum. Vestibulum malesuada diam a odio ullamcorper gravida. Suspendisse consectetur mi in leo ullamcorper egestas. Donec ac tellus sed metus commodo suscipit a ut metus. Praesent at nulla dui. Suspendisse id ipsum ac massa aliquet suscipit nec eget turpis. Aenean luctus risus non purus blandit, at lobortis mi bibendum. Phasellus blandit mi lectus, sit amet tincidunt ex aliquet quis. Donec consectetur metus at sollicitudin mattis. Phasellus in ullamcorper libero, ac dapibus augue.
    </p>
    <p class="display-6 text-dark bg-white text-justify ml-3 mr-3">
        Sed convallis sapien eros, vel laoreet nisi dignissim a. Nulla facilisi. Quisque ut nunc facilisis, luctus tellus convallis, vulputate libero. Suspendisse auctor tellus ac urna porttitor, id scelerisque massa maximus. Donec sodales auctor dolor, at condimentum mauris fringilla id.

        Curabitur vehicula libero mauris, nec tempus orci mattis non. Ut purus nisi, facilisis in pulvinar ac, iaculis vitae leo. Maecenas in sem id tellus sagittis aliquet eu ut felis. Mauris placerat diam nec eros fringilla, vel porta est tempus. Phasellus commodo mollis odio id bibendum. Morbi sit amet enim id mauris facilisis euismod. Donec suscipit cursus purus, sed aliquet tellus finibus ac. Cras scelerisque magna erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed a gravida turpis. Nulla aliquam molestie eros, non consectetur nisi consectetur sed.
    </p>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
